# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-here
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
ADMIN_CREATION_TOKEN=your-admin-creation-token-here

# Monitoring Configuration (Optional)
SENTRY_DSN=
LOG_API=
LOG_ID=
LOG_API_KEY=

# External Services
SHORTENER_BASE_URL=https://go.dbpe.com.br
SHORTENER_USER=your-shortener-username
SHORTENER_PASSWORD=your-shortener-password

# Communication Configuration
UDP_PORT=5004

# OBS WebSocket Configuration
OBS_HOST=localhost
OBS_PORT=4455
OBS_PASSWORD=v5rk4RQAqy9uX9Eb
OBS_RECORDING_DIR=C:\Users\YourUser\Videos\OBS

# URL pública (ex: domínio do ngrok) usada para montar os links de vídeo
PUBLIC_BASE_URL=https://your-domain.ngrok.app

# Limpeza Automática de Gravações
DELETE_OLD_FILES=false
DELETE_OLD_FILES_MAX_LIFE=60
DELETE_OLD_FILES_MAX_POLL=5

# API Configuration
API_TITLE=OBS Controller API
API_DESCRIPTION=API para controlar o OBS Studio remotamente
API_VERSION=1.0.0
HOST=0.0.0.0
PORT=8003
RELOAD=true

# Logging Configuration
LOG_LEVEL=INFO
LOG_FILE=app.log

# Environment
ENVIRONMENT=development
DEBUG=true